*{
	margin: 0px;
	color: #ffffff;
	background-color: #2F2F2F;
}
h1{
	text-align: center;
	padding: 20px;
}
.area h2{
	padding: 10px;
	color: #6fbf6f;
	text-align: center;
}
.focusArea h2{
	padding: 10px;
	color: #df8f00;
	text-align: center;
	vertical-align: middle;
}
body{
	background-color: #2F2F2F;
	margin: 0px;
	overflow-x: hidden;
}
#mainMenu tr td a{
	background-color: #004f5f;
	color: #ffef4f;
	text-decoration: none;
	font-size: 25px;
	overflow: hidden;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #6fbf6f;
}
#mainMenu tr td a:hover{
	background-color: #ffef4f;
	color: #2f2f2f;
}
.area{
	border: 1px solid #6fbf6f;
	border-collapse: collapse;
}
.propertyName{
	text-align: right;
}
input{
	margin: 10px;
	width: 300px;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	box-sizing: border-box;
}
.emptyInput{
	border-color: #df8f00;
	background-color: #00303b;
	color: #df8f00;
	font-size: 25px;
}
.inputElement{
	border-color: #bfbf00;
	background-color: #00303b;
	color: #bfbf00;
	font-size: 25px;
}
.incorrectInput{
	border-color: #ff5f5f;
	background-color: #00303b;
	color: #ff5f5f;
	font-size: 25px;
}
.correctInput{
	border-color: #6fdf6f;
	background-color: #00303b;
	color: #6fdf6f;
	font-size: 25px;
}
.focusArea{
	border: 4px solid #ffbf5f;
	font-size: 25px;
	display: inline-block;
	justify-content: center;
	padding: 20px;
}
.focusArea div{
	text-align: left;
}
.focusArea button{
	background-color: #003f3f;
	color: #6fdf6f;
	cursor: pointer;
	font-size: 25px;
	border: 1px solid #6fdf6f;
	padding: 10px;
	margin: 10px;
}
.StationList{
	position: absolute;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 10px;
	margin-top: -10px;
}
li{
	background-color: #00303b;
	border-left: 2px solid #bfbf00;
	border-bottom: 2px solid #bfbf00;
	border-right: 2px solid #bfbf00;
	padding: 10px;
}
li:hover{
	background-color: #003f4f;
}
#propertiesSelector{
	text-align: center;
}
.datePicker{
	position: absolute;
	visibility: hidden;
	border-color: #bfbf00;
	background-color: #00303b;
	color: #bfbf00;
	font-size: 25px;
	border-collapse: collapse;
}
.datePicker tr td{
	border: 2px solid #bfbf00;
	background-color: #00303b;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
