*{
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background-color: #2F2F2F;
}
h1{
	text-align: center;
	padding: 20px;
}
.area h2{
	padding: 10px;
	color: #6fbf6f;
	text-align: center;
}
.focusArea h2{
	padding: 10px;
	color: #df8f00;
	text-align: center;
	vertical-align: middle;
}
body{
	background-color: #2F2F2F;
	margin: 0px;
	overflow-x: hidden;
}
#mainMenu tr td a{
	background-color: #004f5f;
	color: #ffef4f;
	text-decoration: none;
	font-size: 25px;
	overflow: hidden;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #6fbf6f;
}
#mainMenu tr td a:hover{
	background-color: #ffef4f;
	color: #2f2f2f;
}
.area{
	border: 1px solid #6fbf6f;
	border-collapse: collapse;
}
.propertyName{
	text-align: right;
}
input{
	margin: 10px;
	width: 300px;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	box-sizing: border-box;
}
button{
	border-style: solid;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}
td, th{
	margin: 5px;
	padding: 5px;
}
.emptyInput{
	border-color: #df8f00;
	background-color: #00303b;
	color: #df8f00;
	font-size: 25px;
}
.inputElement{
	border-color: #bfbf00;
	background-color: #00303b;
	color: #bfbf00;
	font-size: 25px;
}
.incorrectInput{
	border-color: #ff5f5f;
	background-color: #00303b;
	color: #ff5f5f;
	font-size: 25px;
}
.correctInput{
	border-color: #6fdf6f;
	background-color: #00303b;
	color: #6fdf6f;
	font-size: 25px;
}
.namerMode .infoArea, .namerMode .focusArea{
	display: none;
}
.focusMode .infoArea, .focusMode .namerArea{
	display: none;
}
.infoMode .focusArea, .infoMode .namerArea{
	display: none;
}
.focusArea{
	border: 4px solid #ffbf5f;
	font-size: 25px;
	display: block;
	justify-content: center;
	padding: 20px;
}
.focusArea div{
	text-align: left;
}
.infoArea{
	display: table-row;
	box-sizing: border-box;
}
.infoArea h2{
	box-sizing: content-box;
	display: inline-block;
}
.infoArea input{
	margin: 5px;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	width: unset;
	border-color: #6fdf6f;
	background-color: #00303b;
	color: #6fdf6f;
	font-size: 20px;
}
.infoArea input:nth-of-type(date){
	margin: 0px;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	width: unset;
	border-color: #6fdf6f;
	background-color: #00303b;
	color: #6fdf6f;
	font-size: 20px;
}
.infoArea button{
	margin: 5px;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
}
.trainsExist #noTrains{
	display: none;
}
.trainsDontExist #tableRoutes, .trainsDontExist #tableRoutesHeader{
	display: none;
}
#tableRoutes{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
.complete{
	background-color: #003f3f;
	color: #6fdf6f;
	cursor: pointer;
	font-size: 25px;
	border: 1px solid #6fdf6f;
	padding: 10px;
	margin: 10px;
	position: relative;
}
.incomplete{
	background-color: #3f3f3f;
	color: #ff5f5f;
	cursor: pointer;
	font-size: 25px;
	border: 1px solid #ff5f5f;
	padding: 10px;
	margin: 10px;
	position: relative;
}
.StationList{
	position: absolute;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 10px;
	margin-top: -10px;
	z-index: 1;
}
li{
	background-color: #00303b;
	border-left: 2px solid #bfbf00;
	border-bottom: 2px solid #bfbf00;
	border-right: 2px solid #bfbf00;
	padding: 10px;
}
li:hover{
	background-color: #003f4f;
}
#propertiesSelector{
	text-align: center;
}

.complete .tooltiptext{
    visibility: hidden;
    position: absolute;
}
.incomplete .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -112px;
    opacity: 0;
    transition: opacity 0.3s;
}
.incomplete .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.incomplete:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#routes td, #routes th{
	border: 2px solid #bfbf00;
	padding: 0px;
	margin: 0px;
}
#routes td button{
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	height: 50%;
	border: 2px solid #6fdf6f;
}
